*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* add border and inside content and include in width and height */
    border: border-box;
    border: none;
}

/* utility classes */

/* .m-l{
    margin-left: 10px;
} */
header{
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blk-bg{
    color: white;
    background-color: #0F1111;
}

.block{
    display: block;
}

a{
    text-decoration: none;
    color: white;
}

.nav{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.nav-logo{
    width: 99px;
    height: 49px;
    padding: 1px 8px 0px 6px;
    margin:1px 6px 1px 1px ;
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    width: 113px;
    height: 50px;
}

/* to add border effect anywhere we will add this border class */
.border{
    border: 1px solid transparent;
}

.border:hover{
    border: 1px solid white;
}

.nav-address{
    display: flex;
    width: 70px;
    height: 50px;
    padding: 0px 9px 0px 9px;
    margin: 5px 2px 5px 0px;
    align-items: center;
}

.map-logo{
    width: 15px;
    height: 18px;
    margin-top: 10px;
}



.ind{
    font-size: 12px;
    font-weight: 600;
    color: #FFFFFF;
}

.nav-search{
    background-color: white;
    height: 40px;
    border-radius: 4px;
}

.nav-search:hover{
    border: 2px solid #febd68;
}

.category{
    font-size: 12px;
    text-align: center;
    background-color: #F3F3F3;
    height: 35px;
}
.search-box{
    width:620px;
    height: 21px;
    text-indent: 8px;
}

.search-button{
    width: 45px;
    height: 40px;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.language{
    font-size: 14px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 9px 0px 9px;
}

.account{
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    padding: 0px 9px 0px 9px;
}


.orders{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.order-l1{
    font-size: 12px;
    color: #FFFFFF;
}

.order-l2{
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 600;
}

/* it will apply all for inside cart */
.cart i{
    font-size: 35px;

}

.cart-cnt{
    color: rgb(242, 86, 19);
    position: relative;
    font-size: 18px;
    font-weight: 800;
    left: -27px;
    top: -12px;
}

/* panel 2 second nav */
.nav2{
    height: 40px;
    background-color: #222e3e;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 14px;
}

.menu-all{
    font-size: 0.9rem;
    font-weight: 600;
    position: absolute;
    left: 45px;
}

.panel-ops{
    width: 70%;
    position: absolute;
    left: 100px;
}
.panel-ops p{
    display: inline;
    font-size: 0.85rem;
    margin: 0px 5px 0px 5px;
    
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 600;
    position: absolute;
    right: 35px;
}

/* hero section */
.hero-section{
    background-image: url("hero_image.jpg");
    height: 600px;
    width: 98vw;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.hero-message{
    background-color: white;
    width: 92%;
    height: 20px;
    padding: 10px 14px 10px 14px;
    position: absolute;
    top: 450px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.hero-message a{
    color: #007185 ;
}

.shop-section{
    background-color: #e3e7e7;
    width: 98vw;
    min-height: 110vh;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 510px;
    flex-wrap: wrap;
}

.box{
    width: 300px;
    height: 370px;
    background-color: white;
    padding: 20px 20px 20px 20px;
    margin: 20px 0px 20px 0px;
}

a{
    color: #007185;
    font-size: 13px;
}

.pro-img{
    width: 300px;
    height: 305px;
    object-fit: cover;
    padding: 15px 0px 15px 0px;
}